<title>DK Expert Dashboard</title>
<h1>Listing Programs</h1>
<%= link_to 'New program', new_article_path %>
<br/>
<br/>
<table>
  <tr>
    <th>Program</th>
    <th>Title</th>
 <th>Category</th>
    <th>Short Desc.</th>
 <th>Long Desc.</th>
 <th>Title Image</th>
 <th>List Image</th>
 <th>Video</th>

  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.program %></td>
      <td><%= article.title %></td>

      <td><%= article.category %></td>

      <td><%= article.short_description %></td>

      <td><%= article.long_description %></td>

      <td><%= article.title_image %></td>
      <td><%= article.list_image %></td>
      <td><%= article.video %></td>


      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
