<p>
  <strong>Program:</strong>
  <%= @article.program %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>short_description:</strong>
  <%= @article.short_description %>
</p>
<p>
  <strong>long_description:</strong>
  <%= @article.long_description %>
</p>
<%= link_to 'Back', articles_path %>