<style>
body {
    background-color: linen;
}

</style> 
<p>
  <strong>Program:</strong>
  <%= @article.program %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>short_description:</strong>
  <%= @article.short_description %>
</p>

<p>
  <strong>long_description:</strong>
  <%= @article.long_description %>
</p>

<p>
  <strong>title_image:</strong>
  <%= @article.title_image %>
</p>

<p>
  <strong>list_image:</strong>
  <%= @article.list_image %>
</p>

<p>
  <strong>video:</strong>
  <%= @article.video %>
</p>



<h2>Drills in thie Program</h2>
  <%= render @article.drills %>

 
 
 

<h2>Add a Drill:</h2>
<%= render 'drills/form' %>


<%= link_to 'Edit', edit_article_path(@article) %> |

<%= link_to 'Back', articles_path %>